.wrapper{
    width: 100%;
    margin-left: 44px;
}
.content{
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 20px;
    height: 741px;
    margin-top: 30px;
}

@media (max-width: 768px){
    .wrapper{
        margin-left: 0;
    }
}