.menu{
    line-height: 165%;
    width: 238px;
    margin-top: 74px;
}
.topMenu{
    padding-bottom: 14px;
    border-bottom: 1px solid black;
    margin-top: 39px;
}

@media (max-width: 768px) {
    .menu{
        position: absolute;
        z-index: 100;
        background-color: #FFFFFF;
        padding: 50px 63px 50px 39px;
        left: -20px;
        top: -20px;
        height: 100%;
    }
}

@media (max-width: 375px) {
    .menu{
        position: absolute;
        z-index: 100;
        background-color: #FFFFFF;
        padding: 50px 63px 50px 39px;
        left: -20px;
        top: -20px;
        height: 100%;
        width: 100%;
    }
}


