.selectBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
}
.select{
    height: 38px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.label{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}