.data{
    background-color: #FFFFFF;
    width: 525px;
    padding: 30px 92px 30px 30px;
    box-sizing: border-box;
}
.photoInfo{
    display: flex;
    font-size: 12px;
}
.photoInfo ul {
    margin-left: 23px;
}
.btn{
    margin-top: 20px;
}

@media (max-width: 768px){
    .data{
        padding: 30px;
        width: 438px;
    }
}

@media (max-width: 375px) {
    .data{
        width: 345px;
        padding: 5px;
    }
    
}